.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.input1 {
  width: 400px;
  height: 30px;
  margin: 12px;
}
.input2 {
  width: 400px;
  height: 30px;
  margin: 12px;
}
.input3 {
  width: 400px;
  height: 30px;
  margin: 12px;
}
.contain {
  text-align: center;
}
.input4 {
  width: 400px;
  height: 100px;
  margin: 12px;
}

.submit {
  background-color: rgb(99, 99, 248, 0.6);
  border-radius: 12px;
  width: 180px;
  height: 40px;
  color: white;
  border-color: white;
  font-size: 15px;
}
