h1 {
  text-align: center;
  font-family: cursive;
  font-size: 45px;
}
.container {
  align-items: center;
  background: linear-gradient(to right, pink, rgb(117, 80, 117, 0.5));
}
p {
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}
.heading {
  font-size: 40px;
}
.skill,
ul,
li {
  align-items: center;
  text-align: center;
  font-family: cursive;
  background: linear-gradient(to right, pink, rgb(117, 80, 117, 0.5));
}
li {
  position: relative;
  line-height: 35px;
}
