.container1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#heading {
  margin: 20px;
  font-family: fantasy;
  font-size: 50px;
}

#para {
  margin: 10px;
  line-height: 30px;
  font-size: 25px;
}
#para1 {
  margin-bottom: 50px;
  font-size: 25px;
}
